/* INPUTS */
.imp input[type="text"]{
    color: #fff;

    border: none;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    padding: .7em;
}
    .imp input[type="text"]::placeholder{
        color: #fff;
    }
    .imp.imp-primary input{
        background-color: var(--primary-color-transparent);
    }
    .imp.imp-secundary input{
        background-color: var(--secundary-color-transparent);
    }

.imp i{
    color: #fff;
    background-color: var(--secundary-color);

    padding: .7em;
    border: none;
    border: 1px solid var(--secundary-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -5px;
}
    .imp i:hover{
        color: var(--secundary-color);
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #fff;
    }